<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
        <div class="col-md-3">
            <div *ngIf="finished">
                <h2>{{recipeDetails.name}}</h2>
                <h4>{{recipeDetails.description}}</h4>
                <h5>{{recipeDetails.ownerName}}</h5>
                <h4>100g adag tápértéke: </h4>
                <h5>{{recipeDetails.energy}} kcal</h5>
                <h5>{{recipeDetails.fat}} g zsír</h5>
                <h5>{{recipeDetails.carbohydrate}}g szénhidrát</h5>
                <h5>Melyből cukrok: {{recipeDetails.sugar}}g</h5>
                <h5>{{recipeDetails.protein}}g fehérje</h5>
                <h5>{{recipeDetails.salt}} g só</h5>
                <h6>Feltöltés: {{recipeDetails.date | date: 'yyyy. MM. dd. hh:mm'}}</h6>
            </div>
        </div>
    </div>
</div>
