<div class="row"> 
    <div class="offset-10 col-md-2">
      <a href="#">Recept hozzáadása</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Név</th>
              <th>Dátum</th>
              <th>Feltöltő</th>
              <th>Kategória</th>
              <th>Alkategória</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipes">
              <td>{{recipe.name}}</td>
              <td>{{recipe.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{recipe.ownerName}}</td>
              <td>{{recipe.categoryId}}</td>
              <td>{{recipe.subCategoryId}}</td>
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getRecipeDetails(recipe.id)">Elkészítem</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>